.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (min-width: 576px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    width: 85%;
  }
}
@media only screen and (min-width: 1900px) {
  .container {
    max-width: 1700px;
  }
}

@font-face {
  font-family: BebasNeueBold;
  src: url("../fonts/BebasNeue Bold.ttf");
}
@font-face {
  font-family: MontserratBold;
  src: url("../fonts/Montserrat-Bold.otf");
}
@font-face {
  font-family: MontserratLight;
  src: url("../fonts/Montserrat-Light.otf");
}
@font-face {
  font-family: MontserratRegular;
  src: url("../fonts/Montserrat-Regular.otf");
}
@font-face {
  font-family: MontserratSemiBold;
  src: url("../fonts/Montserrat-SemiBold.otf");
}
@font-face {
  font-family: PoppinsBlack;
  src: url("../fonts/Poppins-Black.otf");
}
@font-face {
  font-family: PoppinsBold;
  src: url("../fonts/Poppins-Bold.otf");
}
@font-face {
  font-family: PoppinsBoldItalic;
  src: url("../fonts/Poppins-BoldItalic.otf");
}
.btn_wrapper {
  text-align: center;
}

.btn {
  font-family: MontserratRegular;
  font-size: 14px;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 45px;
  text-transform: uppercase;
  background-color: #3954d9;
}

.para {
  font-family: MontserratLight;
  text-transform: uppercase;
  font-size: 14px;
  color: #5c5c5c;
  text-align: center;
  text-transform: none;
  line-height: 20px;
}
.para:first-child {
  text-transform: uppercase;
}

.nonbg_btn {
  font-family: MontserratSemiBold;
  text-transform: uppercase;
  font-size: 16px;
  color: #3954d9;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  padding: 15px 30px;
  border-radius: 50px;
  transition: background-color ease-in-out 0.5s;
  border: 2px solid #030510;
}
.nonbg_btn:hover {
  background-color: #030510;
}

#header {
  background-color: #0000005c;
}
#header .items_container {
  padding-top: 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 80px;
  grid-template-areas: "brand brand menu_icon" "social social social";
  color: white;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  #header .items_container {
    grid-template: "brand social menu_icon" 1fr/2fr 4fr 0.5fr;
    padding-top: 25px;
    padding-bottom: 30px;
    grid-column-gap: 35px;
  }
}
@media only screen and (min-width: 1200px) {
  #header .items_container {
    grid-template: "brand menu social" 1fr/3fr auto 7fr;
  }
}
#header .items_container .menu_icon {
  grid-area: menu_icon;
  overflow: hidden;
}
@media only screen and (min-width: 1200px) {
  #header .items_container .menu_icon {
    display: none;
  }
}
#header .items_container .menu_icon button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: block;
  float: right;
}
@media only screen and (min-width: 1200px) {
  #header .items_container .menu_icon {
    float: left;
  }
}
#header .items_container .menu_icon i {
  font-size: 2rem;
  color: white;
  display: inline-block;
}
#header .items_container .brand {
  grid-area: brand;
  font-family: PoppinsBlack;
  color: white;
  font-size: 2rem;
}
#header .items_container .brand i {
  font-size: 2.2rem;
  margin-right: 6px;
}
#header .items_container .social_network {
  grid-area: social;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
}
@media only screen and (min-width: 576px) {
  #header .items_container .social_network {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1200px) {
  #header .items_container .social_network {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    justify-self: end;
  }
}
#header .items_container .social_network a {
  width: 14.2857142857%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
#header .items_container .social_network a:first-child {
  border-left: 2.5px solid rgba(255, 255, 255, 0.5);
}
#header .items_container .social_network a i {
  color: white;
  font-size: 1.7rem;
  display: inline-block;
}
#header .items_container .social_network .chart {
  border-left: 2.5px solid rgba(255, 255, 255, 0.5);
  border-right: 2.5px solid rgba(255, 255, 255, 0.5);
}
#header .items_container #nav_bar {
  display: none;
}
@media only screen and (min-width: 1200px) {
  #header .items_container #nav_bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    justify-self: start;
  }
}
#header .items_container #nav_bar a {
  font-family: MontserratBold;
  color: white;
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (min-width: 1200px) {
  #header .items_container #nav_bar a {
    padding: 15px;
  }
}

#main .container {
  height: 600px;
}
@media only screen and (min-width: 768px) {
  #main .container {
    height: 700px;
  }
}
@media only screen and (min-width: 1200px) {
  #main .container {
    height: 900px;
  }
}
@media only screen and (min-width: 1400px) {
  #main .container {
    height: 900px;
  }
}
#main .container .texts {
  width: 100%;
  margin-top: 175px;
}
@media only screen and (min-width: 768px) {
  #main .container .texts {
    margin-top: initial;
    padding-top: 180px;
  }
}
@media only screen and (min-width: 992px) {
  #main .container .texts {
    width: 50%;
  }
}
@media only screen and (min-width: 1200px) {
  #main .container .texts {
    margin-top: 225px;
  }
}
@media only screen and (min-width: 1400px) {
  #main .container .texts {
    margin-top: 200px;
  }
}
#main .container .texts h1 {
  font-family: PoppinsBold;
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
  text-align: center;
  font-size: 90px;
  line-height: 70px;
}
@media only screen and (min-width: 576px) {
  #main .container .texts h1 {
    font-size: 95px;
    line-height: 75px;
  }
}
@media only screen and (min-width: 768px) {
  #main .container .texts h1 {
    font-size: 120px;
    line-height: 95px;
  }
}
@media only screen and (min-width: 992px) {
  #main .container .texts h1 {
    font-size: 125px;
    line-height: 110px;
  }
}
@media only screen and (min-width: 1400px) {
  #main .container .texts h1 {
    font-size: 170px;
    line-height: 135px;
  }
}
#main .container .texts h6 {
  font-family: PoppinsBold;
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 25px;
}
@media only screen and (min-width: 768px) {
  #main .container .texts h6 {
    font-size: 24px;
    letter-spacing: 2.5px;
  }
}
@media only screen and (min-width: 1200px) {
  #main .container .texts h6 {
    letter-spacing: 7px;
  }
}
#main .container .btn_wrapper {
  margin-top: 55px;
}

.ship_wrapper {
  display: grid;
  grid-template: "shipping" 1fr "delivery" 1fr "liveSupport" 1fr "refund" 1fr/1fr;
}
@media only screen and (min-width: 992px) {
  .ship_wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "shipping delivery" "refund liveSupport";
  }
}
@media only screen and (min-width: 1200px) {
  .ship_wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "shipping delivery refund liveSupport";
  }
}
.ship_wrapper .shipping {
  grid-area: shipping;
}
.ship_wrapper .refund {
  grid-area: refund;
}
@media only screen and (min-width: 992px) {
  .ship_wrapper .refund {
    border-bottom: none;
  }
}
.ship_wrapper .fastDelibery {
  grid-area: delivery;
}
.ship_wrapper .support {
  grid-area: liveSupport;
}
.ship_wrapper .items {
  text-align: center;
  padding-top: 55px;
  padding-bottom: 55px;
  border-bottom: 1px solid #5c5c5c;
  width: 100%;
  max-width: 325px;
  margin-left: auto;
  margin-right: auto;
}
.ship_wrapper .items:last-child {
  border-bottom: none;
}
@media only screen and (min-width: 992px) {
  .ship_wrapper .items:nth-child(2) {
    border-bottom: none;
  }
}
@media only screen and (min-width: 1200px) {
  .ship_wrapper .items {
    border-bottom: none;
    border-right: 1px solid #5c5c5c;
  }
  .ship_wrapper .items:last-child {
    border-right: none;
  }
}
.ship_wrapper .items i,
.ship_wrapper .items h3,
.ship_wrapper .items .para {
  color: #5c5c5c;
}
.ship_wrapper .items i {
  font-size: 60px;
  display: inline-block;
}
.ship_wrapper .items h3 {
  font-family: BebasNeueBold;
  text-transform: uppercase;
  font-size: 28px;
  color: #0d2e57;
  text-align: center;
  margin-top: 25px;
}
.ship_wrapper .items .para {
  margin-top: 20px;
}
@media only screen and (min-width: 1200px) {
  .ship_wrapper .items .para {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}
.ship_wrapper .items .nonbg_btn {
  margin-top: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#background_main_header {
  background: url("../img/main_bg_sm.png") no-repeat center center;
  background-size: cover;
}
@media only screen and (min-width: 992px) {
  #background_main_header {
    background-image: url("../img/main_bg.png");
  }
}

a,
img,
i {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #484848;
}

/*# sourceMappingURL=style.css.map */
