/* Error: Expected expression.
 *    ,
 * 93 | $fontList: 
 *    |            ^
 *    '
 *   sass\_varMixing.sass 93:12  @import
 *   sass\style.sass 1:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected expression.\a    \2577 \a 93 \2502  $fontList: \a    \2502             ^\a    \2575 \a   sass\\_varMixing.sass 93:12  @import\a   sass\\style.sass 1:9         root stylesheet";
}
