@function pxCon($size) {
    @return $size + px;
}

// ----------------------------------------------
// responsive
// ----------------------------------------------
// break points

$x_sm: "576px";
$sm: "768px";
$md: "992px";
$lg: "1200px";
$xl: "1400px";
$xxl: "1900px";
$maxWidth: "1700px";

@mixin resp($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

@mixin center {
    margin-left: auto;
    margin-right: auto;
} // container
%container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    //extra small
    @include resp($x_sm) {
        padding-left: 30px;
        padding-right: 30px;
    } // small
    @include resp($sm) {
        padding-left: 40px;
        padding-right: 40px;
    } // medium
    @include resp($md) {
        width: 90%;
        padding-left: 0px;
        padding-right: 0px;
        @include center;
    } //extra  large
    @include resp($xl) {
        width: 85%;
    } // extra extra large
    @include resp($xxl) {
        max-width: 1700px;
    }
}
// padding
.container {
    @extend %container;
}
@mixin padX($t, $b) {
    padding-top: $t;
    padding-bottom: $b;
}
@mixin padY($l, $b) {
    padding-left: $l;
    padding-right: $b;
} // margin
@mixin marX($t, $b) {
    margin-top: $t;
    margin-bottom: $b;
}
@mixin marY($l, $r) {
    margin-left: $l;
    margin-right: $r;
} // flex
@mixin flex() {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @content;
} // fonts
$fontList: (
    BebasNeueBold: "../fonts/BebasNeue Bold.ttf",
    MontserratBold: "../fonts/Montserrat-Bold.otf",
    MontserratLight: "../fonts/Montserrat-Light.otf",
    MontserratRegular: "../fonts/Montserrat-Regular.otf",
    MontserratSemiBold: "../fonts/Montserrat-SemiBold.otf",
    PoppinsBlack: "../fonts/Poppins-Black.otf",
    PoppinsBold: "../fonts/Poppins-Bold.otf",
    PoppinsBoldItalic: "../fonts/Poppins-BoldItalic.otf",
    PoppinsSemiBold: "../fonts/Poppins-SemiBold.otf",
);

@each $fonts, $url in $fontList {
    @font-face {
        font-family: $fonts;
        src: url($url);
    }
}

// font variable
$header: PoppinsBold;
$brand: PoppinsBlack;
$btnFont: MontserratRegular;
$MontBold: MontserratBold;

// color variable
$blue: #3954d9;
$not_black: #5c5c5c;
$almost_blue: #0d2e57;
$not_white: #f2f0f0;

// header style
@mixin header($font: PoppinsBold, $size: 2rem, $color: white, $align: center) {
    font-family: $font;
    text-transform: uppercase;
    font-size: $size;
    color: $color;
    text-align: $align;
    @content;
}

@mixin bebas_heading($fonts: BebasNeueBold, $size: 2rem) {
    @include header($fonts, $size, $almost_blue, center);
    @content;
}

.bebas_heading {
    @include bebas_heading;
}

// btn style
.btn_wrapper {
    text-align: center;
}

.btn {
    font-family: MontserratRegular;
    font-size: 14px;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 45px;
    text-transform: uppercase;
    background-color: $blue;
    // transition 
    transition: background-color 0.8s;
    // animation 
    &:hover {
        background-color: darken($color: $blue, $amount: 20);
    }
}

// para
.para {
    @include header(MontserratLight, 14px, $not_black, center);
    text-transform: none;
    line-height: 20px;
    &:first-child {
        text-transform: uppercase;
    }
}

// non border btn
.nonbg_btn {
    @include header(MontserratSemiBold, 16px, $blue, center);
    font-weight: 500;
    text-transform: capitalize;
    padding: 15px 30px;
    border-radius: 50px;
    transition: background-color ease-in-out 0.5s;
    border: 2px solid darken($color: $blue, $amount: 50);
    &:hover {
        background-color: darken($color: $blue, $amount: 50);
    }
}

// grid
@mixin grid($row: 1, $rsize: 1fr, $column: 1, $csize: 1fr, $area: initial) {
    display: grid;
    grid-template-rows: repeat($row, $rsize);
    grid-template-columns: repeat($column, $csize);
    grid-template-areas: $area;
}

// price tags
@mixin price($price: 16px) {
    @include header(MontserratBold, $price, $blue, left);
    .actual {
        text-decoration: line-through;
        font-size: ($price - 2);
        font-weight: 300;
    }
}

.discount_price {
    @include price;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 250px;
    @include center;
    align-items: center;
}
