@import "varMixing";
@import "header";
@import "main";
@import "shippingAndOthers";
@import "offerPromotion";


// reset style
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// header background

#background_main_header {
    background: url("../img/main_bg_sm.png") no-repeat center center;
    background-size: cover;
    // responsive
    @include resp($md) {
        background-image: url("../img/main_bg.png");
    }
}
a,
img,
i {
    display: inline-block;
}
a {
    text-decoration: none;
    color: #484848;
}


// middle section background 